@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rise {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.animate-rise {
    animation: rise 1s linear infinite;
}

@keyframes shine-sweep {
    0% {
        transform: translateX(-150%) skewX(-25deg);
    }

    100% {
        transform: translateX(250%) skewX(-25deg);
    }
}

.animate-shine {
    animation: shine-sweep 3s infinite;
}